<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net debug="false">
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log.txt"/>
      <appendToFile value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="3"/>
      <maximumFileSize value="1024KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date Hilo:[%thread] %-5level %message%newline"/>
      </layout>
    </appender>
    <root>
      <priority value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>
  <appSettings>
    <!--CREDENCIALES DOCUWARE -->
    <add key="USERDW" value="docuware"/>
    <add key="PASSDW" value="dw@2019"/>
    <!--CREDENCIALES HANA/SAP -->
    <add key="bd_OFISTRADE" value="OFISTRADE"/>
    <add key="userSAP" value="manager"/>
    <add key="passSAP" value="advance"/>
    <add key="Server" value="NDB@172.22.0.115:30013"/>
    <add key="DBType" value="9"/>
    <add key="DBUser" value="B1ADMIN"/>
    <add key="DBPass" value="Advance16"/>
    <add key="licenseServer" value="172.22.0.115:40000"/>
    <add key="SLD" value="172.22.0.115:40000"/>
    <!--DOCUMENTOS -->
    <add key="ArticuloGenerico" value="A00001"/>
    <!--INFORMES -->
    <add key="RutaCrystalContratoMenor" value="C:\Users\mlanza\TRABAJO\PROYECTOS\0_DOCUWARE\BASEDW\WSDocuware\Informes\InformeTest.rpt"/>
    <!--FICHEROS -->
    <add key="ruta_SOCIEDAD1" value="C:\Users\mlanza\OneDrive - SEIDOR SA\Documentos\0_Marta\Proyectos\0_DOCUWARE\BASEDW\WSDocuware\Informes\"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Conexion_OFISTRADE"  connectionString="Server=MP2CSZVC;Database=SEI_DOCUWARE;User Id=sa;Password=Seidor2019;" />-->
    <add name="Conexion_OFISTRADE" connectionString="DRIVER={HDBODBC};SERVERNODE=172.22.0.115:30015;DATABASE=OFISTRADE;UID=B1ADMIN;PWD=Advance16;"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Visual Basic options:
            Set strict="true" to disallow all data type conversions 
            where data loss can occur. 
            Set explicit="true" to force declaration of all variables.
        -->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.8"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Linq"/>
        <add namespace="System.Xml.Linq"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="WSDocuware.asmx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
        <!-- binding config: security, httpTransport and more  -->
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>