<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  
    <log4net debug="false">

      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="Log.txt" />
        <appendToFile value="true" />
        <rollingStyle value="Size" />
		<maxSizeRollBackups value="3" />
        <maximumFileSize value="1000KB" />
        <staticLogFileName value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date Hilo:[%thread] %-5level %message%newline" />
        </layout>
      </appender>

      <root>
        <priority value="ALL" />
        <appender-ref ref="RollingFileAppender" />
      </root>

      <category name="root">
        <priority value="ALL" />
      </category>

    </log4net>

    <connectionStrings>
		<!--Conexión-->
		<add name="Conexion" connectionString="Server=MP2CSZVC;Database=SEI_DOCUWARE;User Id=sa;Password=Seidor2019;Timeout=20"/>
    </connectionStrings>

    <appSettings>

		<!--SOCIEDAD-->
		<add key="Sociedad" value="SEI_DOCUWARE"/>
			
		<!--RUTA-->
		<add key="VISRuta" value="C:\Users\mlanza\OneDrive - SEIDOR SA\Documentos\0_Marta\Proyectos\0_DOCUWARE\BASEDW\WSDocuware\VISTAS\SQL"/>

    </appSettings>
  
</configuration>